.d-flex-column {
  display: flex;
  flex-direction: column;
}
.d-flex-row {
  display: flex;
}
.home-filterProduct {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 25vmax;
  background-color: black;
  height: 100vh;
}
.home-productList {
  width: 75vmax;
  margin-left: 25vw;
}
