.App {
  text-align: center;
}

.container {
  background-color: azure;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 1rem 3rem;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  width: 80%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-wrapper>span {
  font-weight: 500;
  font-size: large;
  text-align: center;
}

.input-wrapper>input {
  padding: .3rem .5rem;
}

.lables {
  display: flex;
}

.tenure {
  background-color: beige;
  padding: 1rem 2rem;
  border: none;
  border-radius: 40px;
}

.tenure_selected {
  background-color: cadetblue;
}